h1 {
    font-family: 'Lobster', cursive;
    color: green;
    background-color: #efb800;
    width: min-content;
}

h4 {
    font-family: 'Celestina', cursive;
    color: rgb(0, 113, 128);
}

.table {
     background-color: rgb(105, 234, 230); 
    
}

td {
    
    padding: 20px;
}

.gradient {
    background: linear-gradient(45deg, deeppink, yellow, lime);
}
a:visited{
    color: rgb(255, 255, 255);
}

a:hover {
    color: #ff0055; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: rgb(251, 255, 0) wavy underline;
   
} /* Добавляем подчеркивание */

.center_for_li {
    display: flex;
    align-items: center;
}

p::first-letter {
    color:#efb800;
    font-size: 24px;
}

.back {
    background-image: url(https://bogatyr.club/uploads/posts/2023-01/1674930169_bogatyr-club-p-krasivii-fon-dlya-saita-fon-pinterest-3.jpg);
    opacity: 1.0;
    filter: alpha(opacity=100);
}

